.guidedHuntsCard {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 25px;
    height: 410px;
    background-color: #253439;
    padding-top: 20px;
    padding-left:15px;
    padding-right: 15px;
    box-shadow: 6px 0px #9a7b39;
    
}

.guidedWhiteTail {
    margin-left: 10rem;
    float: left;
    width: 300px;
    height: 380px;
    background-color: whitesmoke;
    
    border-radius: 25px;
    box-shadow: 6px 0px #9a7b39;
}
.guidedlistbox {
    margin-right:35px;
}
.deer {
    width: 200px;
    height: 150px;
    padding-top: 15px;
    border-radius: 25px;
}
.deerButton {
    margin-top: 5px;
    align-items: center;
    height: 3rem;
    font-size: 15px;
    background-color: #253439;
    color: white;
    border-radius: 15px;
 
}
.guidedTurkey {
    float: left;
    width: 300px;
    height: 380px;
    background-color: whitesmoke;
    
    border-radius: 25px;
    margin-left: 20px;
    box-shadow: 6px 0px #9a7b39;
    
}
.turkey {
    width: 200px;
    height: 150px;
    padding-top: 15px;
    border-radius: 25px;
}
.turkeyButton {
    margin-top: 5px;
    height: 3rem;
    font-size: 15px;
    background-color: #253439;
    color: white;
    border-radius: 15px;
}
.waterfowl {
    width: 200px;
    height: 150px;
    padding-top: 15px;
    border-radius: 25px;
    
}
.guidedWaterfowl {
    float: left;
    width: 300px;
    height: 380px;
    background-color: whitesmoke;
   
    border-radius: 25px;
    margin-left: 20px;
    box-shadow: 6px 0px #9a7b39;

}

.waterFowlButton {
    margin-top: 25px;
    height: 3rem;
    font-size: 15px;
    background-color: #253439;
    color: white;
    border-radius: 15px;
}

.guideinfo{
    list-style-type: none;
}