.waterfowlheaderCard {
    background-color: #253439;
    display: grid; 
    border-radius: 25px;
    width: 100%;
    height: 350px; 
    text-align: center;
}
.waterfowlheaderlogo{
    width: 100%;
    height:350px;
    border-radius: 25px;
    position:relative;
}
.waterfowltitle {
    padding-top: 12rem;
    font-size: 60px;
    color:whitesmoke;
    font-weight: bolder;
    position: absolute;
    left:40%;
}

/* white tail textbox  */

.waterfowltextbox {
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;

}
.waterfowltextbox1{
    font-size: 30px;
    color:#9a7b39;
}
.waterfowlphotobox1{
    margin-left:90%;
}
.waterfowltextbox2 {
    font-size: 20px;
  
}
.waterfowlhowwehuntbox {
    display: flex;
}
.waterfowlhowwehunt{
    display: flex1;
    padding-top: 20px;
    background-color:  #253439;
    color:whitesmoke;
    border-radius: 25px;
    width:50%;
    height: 300px;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 20px;
}
.waterfowlbody2{
    width:500px;
    height:312px;
    border-radius: 25px;
    margin-left: 50px;
    margin-top: 2%;
}
.waterfowlhowwehunttitle{
    text-decoration: underline;
    text-align: center; 
    font-size: 25px;
    color:whitesmoke;  
}
.waterfowlhowwehuntlist {
    font-size: 15px;
}

/* Whats Included */
.waterfowlwhatsincludedbox {
    display: flex;
}
.waterfowlwhatsincluded{
    display: flex1;
    padding-top: 20px;
    background-color:  #253439;
    color:whitesmoke;
    border-radius: 25px;
    width:50%;
    height: 250px;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 10%;
}
.waterfowlbody1{
    width:800px;
    height:250px;
    border-radius: 25px;
    margin-top: 2%;
    margin-right: 5%;
}
.waterfowlwhatsincludedtitle{
    text-decoration: underline;
    text-align: center; 
    font-size: 25px;
    color:whitesmoke;  
}
.waterfowlwhatsincludedlist {
    font-size: 15px;
}

/* How We Hunt  */
.waterfowlwherewehuntbox{
    display:flex;   
}
.waterfowlwherewehunt {
    display: flex1;
    padding-top: 20px;
    background-color:  #253439;
    color:whitesmoke;
    border-radius: 25px;
    width:50%;
    height: 200px;
    margin-top: 20px;
    margin-left: 50px;
}
.waterfowlbody3{
    width:550px;
    height:200px;
    margin-left:5%;
    margin-top:2%;
    margin-right:50px;
    border-radius: 25px;
}
.waterfowlwherewehunttitle {
    text-decoration: underline;
    text-align: center; 
    font-size: 25px;
    color:whitesmoke;
}
.waterfowlwherewehuntlist {
    font-size: 15px;
}

/* Availability */
.waterfowlavailabilitybox{
    display: flex;
}
.waterfowlavailability {
    display: flex1;
    padding-top: 20px;
    background-color:  #253439;
    color:whitesmoke;
    border-radius: 25px;
    width:50%;
    height: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 50px;
  
}
.waterfowlbody4{
    width:500px;
    height:300px;
    margin-left: 50px;
    margin-top:2%;
    border-radius: 25px;
}
.waterfowlavailabilitytitle {
    text-decoration: underline;
    text-align: center; 
    font-size: 25px;
    color:whitesmoke;
}
.turkeyavailabilitylist {
    font-size: 15px;
}



.waterfowlguide {
   display: flex;
   background-color: #253439 ;
   margin-top: 20px;
   width:91%;
   border-radius: 25px;
   margin-left:52px;
}
.waterfowlguideinfo{
    width:600px;
    height:400px;
    color:whitesmoke;
}
.waterfowlguidename {
    color:whitesmoke; 
}
.waterfowlguidetitle{
    color:whitesmoke;
}
.guideinfobox{
    padding-left:15%;

}
.dax {
    width:400px;
    height:400px;
    padding-left:20%;
    padding-top:20%;
}

