.list {
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;
    margin: -45px 30px 0px 100px;
    float: right;
    margin-right:8rem;
}
.mainlogo {
    
     text-decoration: none;
      display: flex;
      justify-content: center;
      font-size: 40px;
      height: 2.5em;
     width: 3.5em;
      background-size: 100px;
      margin-left: 5rem;
    
}
.nav {
    display: flex;
    
    background-color: #99917f;
    text-decoration: none;
    border-radius: 15px 15px 0px 0px;
   
    margin: 0px 2px 0px 2px;
    box-shadow: 4px 0px black;
    
   
}

.buttonlink {
    float:right;
}
/* nav bar style */
.n1 {
    
    padding: 15px 20px 15px 20px;
    font-weight: bold;
    color: #2e0307a2;
    float: right;
    
}




/* nav bar effects */
.nav:focus {
    background-color: #bab3a3;
}

.nav:hover {
    background-color: #bab3a3;
    text-decoration: underline;
}