:root{
    --navy: #253439;
}

.headerCard {
    background-color: #253439;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
 
    border-radius: 25px;
    width: 100%;
    height: 350px; 
  

}

.guidetitle{
    color:whitesmoke;
    margin-left: 150px;
}
.guidetext {
    color: whitesmoke;
    width:600px;
    font-size: 20px;
}
.guidedHunts {
       width: 400px;
       margin: 10px;
       padding-left: 3rem;
       
}
.button {
    margin-top: 5px;
    align-items: center;
    height: 3rem;
    font-size: 15px;
    background-color: #253439;
   
    color: whitesmoke;
    border-radius: 15px;
    
}
.mainLogo{
padding-top: 2rem;
width: 325px;
height: 225px;
}