:root{
    --navy: #253439;
}

.headerCard {
    background-color: #9a7b39;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    border-radius: 25px;
    width: 90%;
    height: 350px; 
    margin-left: 3rem;

}


.guidedHunts {
       width: 400px;
       margin: 10px;
       padding-left: 3rem;
       
}
.button {
    margin-top: 5px;
    align-items: center;
    height: 3rem;
    font-size: 15px;
    background-color: #253439;
   
    color: whitesmoke;
    border-radius: 15px;
    
}
.mainLogo{
padding-top: 2rem;
width: 200px;
height: 200px;
}