.footerCard {
    display: inline-block;
   
    width: 100%;
    border-radius: 25px;
    height: 150px;
    background-color: #253439 ;
    padding-top: 20px;
    padding-left:15px;
    padding-right: 15px;
    margin-top: 20px;

}

.footerheaders {
    text-decoration: underline;
    color: whitesmoke;
    text-align: center;
}
.ourAddress {
    float:left;
    margin-top: 1rem;
    width: 25%;
    height: 150px;
    color:whitesmoke;
   
}


.reservations {
  float:left;
  margin-top: 1rem;
    width: 45%;
    height: 150px;
    margin-left: 20px;
    color:whitesmoke;
}

.footertext {
    text-align: center;
}
.openAllYear {
    float: right;
    margin-top: 1rem;
    width: 25%;
    height: 150px;
    margin-left: 20px;
    color:whitesmoke;

}

/* =======================Media Queries (Medium Devices)=================== */
@media screen and  (max-width: 1024px) {
    body {
         width: 86%;
     }
     .footerCard {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-radius: 25px;
        height: 600px;
        background-color:#9a7b39 ;
        padding-top: 20px;
        padding-left:15px;
        padding-right: 15px;
        margin-top: 20px;
        
    }
    
    
   }
   
   /* =======================Media Queries (Small Devices)=================== */
   @media screen and  (max-width: 600px) {
     body {
         width: 100%;
     }
    }